<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @payment.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Token:</strong>
  <%= @payment.token %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
